extends /layouts/default

block title
    | Homepage - Airframe

block content
    .learn.g--container
        header.learn--header.learn--guide
            .g--row
                h1 This is Markdown.
                p.g--two-third Markdown is a way of formatting text that can be easily read and understood by both humans and software.
            .g--row
                h2 How to use markdown
                p.g--two-third.
                    By typing different characters and punctuation, you can #[strong bold],
                    #[em italicize], #[del strike-through] your text.
                p.g--two-third.
                    #[strong All examples below are interactive]; edit the text on the left and see how it changes on the right!
        .learn--example.g--row
            .g--two-third
                textarea(data-name="bold").
                    **I am bold.**
            .g--third.g--last
                .learn--output(data-type="output", data-name="bold")
        hr.learn--divider
        .learn--example.g--row
            .g--two-third
                textarea(data-name="italic").
                    _I am emphatic._
            .g--third.g--last
                .learn--output(data-type="output", data-name="italic")
        hr.learn--divider
        .learn--example.g--row
            .g--two-third
                textarea(data-name="strike-through").
                    I am ~~stricken.~~
            .g--third.g--last
                .learn--output(data-type="output", data-name="strike-through")
        hr.learn--divider
        .learn--example.g--row
            .g--two-third
                textarea(data-name="link").
                    [I am a link.](http://thisismarkdown.com)
            .g--third.g--last
                .learn--output(data-type="output", data-name="link")
        hr.learn--divider
        .learn--example.g--row
            .g--two-third
                textarea(data-name="bulleted-list").
                    * Bread
                    * Milk
                    * Eggs
                    * Bulleted lists
            .g--third.g--last
                .learn--output(data-type="output", data-name="bulleted-list")
        hr.learn--divider
        .learn--example.g--row
            .g--two-third
                textarea(data-name="ordered-list").
                    1. Dance
                    2. ???
                    3. Profit!
                    4. Ordered lists
            .g--third.g--last
                .learn--output(data-type="output", data-name="ordered-list")
        hr.learn--divider
        .learn--example.g--row
            .g--two-third
                textarea(data-name="blockquote").
                    And she said:
                    > Like, oh my god.
            .g--third.g--last
                .learn--output(data-type="output", data-name="blockquote")
        hr.learn--divider
        .learn--example.g--row
            .g--two-third
                textarea(data-name="image").
                    ![Cat? Cat.](https://placekitten.com/g/300/200)
            .g--third.g--last
                .learn--output(data-type="output", data-name="image")
        footer.learn--footer.learn--guide
            | #[span &#9829;] Made with love by #[a(href="http://planetary.io") Planetary] using #[a(href="http://github.com/planetarycorp/airframe") Airframe].