.learn--body {
    background-image: linear-gradient(to right, $black, $black 50%, $off-white 50%, $off-white);

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.learn--helper {
    position: absolute;
    display: inline-block;
    padding: 0.25rem 1rem;
    border-radius: 3px;
    font-family: $mono;
    font-size: $scale-small;
    background: $yellow;
    color: $black;
}

.learn--helper-input {
    left: 2rem;
    top: 1rem;
}

.learn--helper-output {
    left: calc(50% + 2rem);
    top: 1rem;
}

.input, .output {
    width: 50%;
    float: left;
    padding: 5rem 3rem 2rem;
}

.input {
    background: $black;
    color: $white;
    font-family: $mono;
    border: 0;
    overflow-y: visible;
    resize: none;

    &:focus {
        outline: 0;
    }
}

.output {
    background: $off-white;
    color: $black;
    font-family: $serif;
}

.learn--footer {
    padding: 1rem;
}

.heart {
    font-family: $sans;
    color: $red;
}

.fork {
    float: right;
}