@function repeat($str, $n) {
    $out: "";
    @for $i from 1 through $n {
        $out: $out + $str;
    }
    @return $out;
}

.learn--guide {
    @for $i from 1 through 6 {
        h#{$i}:hover { font-family: $mono; }
        h#{$i}:hover:before {
            margin-left: -0.55em - (0.5em * $i);
            content: repeat("#", $i) + " ";

            @include media("<1200px") {
                margin-left: 0;
            }
        }
    }

    strong:hover,
    em:hover,
    del:hover {
        font-family: $mono;
        font-style: normal;
        text-decoration: none;
    }

    strong:hover {
        &:before,
        &:after {
            content: "**";
        }
    }

    em:hover {
        &:before,
        &:after {
            content: "_";
        }
    }

    del:hover {
        &:before,
        &:after {
            content: "~~";
        }
    }

    // This, unfortunately, doesn't work as well on small devices :(
    @include media(">=tablet") {
        a:hover {
            font-family: $mono;
            font-style: normal;
            text-decoration: none;

            &:before {
                content: "[";
            }

            &:after {
                content: "](" attr(href) ")";
            }
        }
    }
}

.learn--header {
    padding: 2rem 0 3rem;
    cursor: default;

    p {
        font-size: 1.5rem;
    }
}

.learn--example {
    overflow: hidden;

    textarea,
    .learn--output {
        font-size: 1.5rem;
        min-height: 3rem;
        word-wrap: break-word;
    }

    textarea {
        background: $off-white;
        word-wrap: break-word;
        border: 2px solid $off-white;
        padding: 1rem 1.5rem;
        appearance: none;
        border-radius: 3px;
        min-width: 100%;
        resize: none;
        font-family: $mono;
        overflow: hidden;
        overflow-y: hidden;

        &:focus {
            outline: none;
            border: 2px solid $gray-lighter;
        }
    }
}

.learn--input, .learn--output {


}

.learn--output {
    padding: 1rem 0.5rem;

    p:first-child {
        margin-top: 0;
    }

    > ul,
    > ol {
        padding-left: 0;

        &:first-child {
            margin-top: 0;
        }
    }

    img {
        max-width: 100%;
    }
}

.learn--divider {
    border-width: 1px 0 0;
    border-style: solid;
    border-color: $gray-lighter;
    margin: 0;
    padding: 0 0 2rem;
    width: 100%;
    overflow: hidden;

    &:hover {
        border-color: transparent;
        line-height: 2.5;
        margin-top: -1.4rem;
        padding: 0 0 3.4rem;

        &:before {
            display: block;
            content: repeat("*", 150);
            overflow: hidden;
            word-wrap: break-word;
            font-family: $mono;
            width: 100%;
            height: 2rem;
        }
    }
}

.learn--footer {
    padding: 0 0.5rem;
    margin: 5rem 0;

    .heart {
        color: desaturate(lighten($red, 7%), 5%);
    }

    .fork {
        float: right;

        a {
            text-decoration: none;
        }

        span {
            text-decoration: underline;
        }

        svg {
            position: relative;
            top: 2px;
        }
    }
}

@include media("<=70em") {
    .g--container {
        width: 95%;
        margin: 0 auto;
    }

    .learn--footer {
        .fork {
            margin-top: 1rem;
            display: block;
            float: none;
        }
    }
}

@include media("<tablet") {
    body,
    html {
        font-size: 12px;
    }

    .learn--header {
        .g--half {
            width: 100%;
        }
    }

    .learn--footer {
        text-align: center;
        font-size: 1.3rem;

        .heart {
            display: block;
            float: none;
        }

        .heart,
        .fork {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@include media("<=480px") {
    .learn--example {
        .g--half {
            width: 100%;
            float: none;
        }
    }
}
